body {
    background-color: #fff;
}

h1 {
    text-align: center;
    background-color: rgb(175, 173, 163);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;

}

p:first-of-type, p:nth-of-type(2) {   
    text-align: center;
    text-emphasis: initial;
}

                       /* p:nth-of-type(2){
                            text-align: center;
                        } */

p:first-of-type {
    font-weight: bold;
    font-size: 20px;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p:nth-of-type(2)  {
    text-transform: uppercase;
}

li:first-of-type {
    text-transform: uppercase;
    color:red;
}

li:nth-of-type(2n):first-letter {
    color: hotpink;
}
 /*2n minden masodik*/

 .highlighted-text {
     font-weight: 700;
 }


 p:last-child {
     color: blue;
     font-weight: 700;

 }
